<form [formGroup]="flightUpdateForm" (submit)="updateFlight(flightUpdateForm)">
  <mat-dialog-content>
    <div class="container">
      <h1 mat-dialog-title>Actualizar Vuelo</h1>
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="picker" placeholder="Fecha Salida"
                   formControlName="fechaSalida" (dateChange)="assignDateToControl()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ciudad Origen</mat-label>
            <input matInput placeholder="Cali" type="text" formControlName="ciudadOrigen">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ciudad Destino</mat-label>
            <input matInput placeholder="Medellin" type="text" formControlName="ciudadDestino">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="w-100">
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="false">
      Cerrar
    </button>
    <button mat-button color="primary" type="submit">
      Actualizar
    </button>
  </mat-dialog-actions>
</form>


