<form [formGroup]="passengerUpdateForm" (submit)="updatePassenger(passengerUpdateForm)">
  <mat-dialog-content>
    <div class="container">
      <h1 mat-dialog-title>Actualizar pasajero</h1>
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="correo@gmail.com" type="email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre Completo</mat-label>
            <input matInput placeholder="Juan Sebastian" type="text" formControlName="nombreCompleto">
            <mat-icon matSuffix>perm_contact_calendar</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="false">
      Cerrar
    </button>
    <button mat-button color="primary" type="submit">
      Actualizar
    </button>
  </mat-dialog-actions>
</form>

