<body>
<header>
  <fly-sidenav></fly-sidenav>
</header>
<main>
  <ng-container *ngIf="tickets$ | async as tickets">
    <div class="container" *ngIf="tickets.length">
      <h1 class="text-center">¡Encuentra tú vuelo ideal!</h1>
      <div class="row mt-1">
        <ng-container *ngFor="let ticket of tickets$ | async">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-2">
            <mat-card class="example-card">
              <mat-card-header>
                <img mat-card-avatar
                     src="https://www.ecestaticos.com/imagestatic/clipping/1c6/055/1c60551557177c62a9bb1bec5eda00ba/por-que-los-aviones-apagan-las-luces-durante-el-despegue-y-el-aterrizaje.jpg?mtime=1550502062"
                     alt="Tiquete">
                <mat-card-title><h6 class="text-nowrap">{{ticket.flights.descripcion}}</h6></mat-card-title>
                <mat-card-subtitle><h6 class="text-nowrap">{{ticket.airplanes.aerolinea}}</h6></mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image
                   src="https://www.ecestaticos.com/imagestatic/clipping/1c6/055/1c60551557177c62a9bb1bec5eda00ba/por-que-los-aviones-apagan-las-luces-durante-el-despegue-y-el-aterrizaje.jpg?mtime=1550502062"
                   alt="Tiquete">
              <mat-card-content>
                <ul>
                  <li>Pasajero: {{ticket.passengers.nombreCompleto}}</li>
                  <li>Descuento: {{ticket.descuentoTiquete}}</li>
                  <li>Iva: {{ticket.ivaTiquete}}</li>
                  <li>Valor: {{ticket.valorTiquete}}</li>
                </ul>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="tickets$ | async as tickets">
    <ng-container *ngIf="!tickets.length">
      <div class="container d-flex align-items-center justify-content-center text-center">
        <h1>¡Aún no tienes vuelos registrados!</h1>
        <img src="./../../../assets/img/not-found.png" class="img-fluid" alt="404 not found">
      </div>
    </ng-container>
  </ng-container>
</main>

<fly-footer></fly-footer>
</body>
<router-outlet></router-outlet>
