<fly-sidenav></fly-sidenav>
<main>
    <mat-horizontal-stepper [linear]="isLinear">
      <mat-step label="Aviones">
        <button mat-button matStepperNext color="primary">Siguiente</button>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="airplanes$ | async" class="w-100 align-items-center text-center">
            <ng-container matColumnDef="aerolinea">
              <th mat-header-cell *matHeaderCellDef class="text-center">Aerolinea</th>
              <td mat-cell *matCellDef="let airplane"> {{airplane.aerolinea}} </td>
            </ng-container>

            <ng-container matColumnDef="cantidadPasajeros">
              <th mat-header-cell *matHeaderCellDef class="text-center">Cantidad Maxima Pasajeros</th>
              <td mat-cell *matCellDef="let airplane"> {{airplane.cantidadMaximaPasajeros}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef class="text-center">Descripcion</th>
              <td mat-cell *matCellDef="let airplane"> {{airplane.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef class="text-center">Editar</th>
              <td mat-cell *matCellDef="let airplane">
                <mat-icon class="cursor-pointer" color="primary" (click)="showEditAirplane(airplane.id)">edit</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-step>
      <mat-step label="Crear Avion">
        <div class="container">
          <button mat-button matStepperPrevious>Atrás</button>
          <div class="row">
            <div class="col-12">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Crear Avion</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="container">
                    <form [formGroup]="airplaneForm" (submit)="registerAirplane(airplaneForm)">

                      <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <mat-form-field appearance="outline">
                            <mat-label>Aerolinea</mat-label>
                            <input matInput placeholder="Avianca" type="text" formControlName="aerolinea">
                            <mat-icon matSuffix>local_airport</mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <mat-form-field appearance="outline">
                            <mat-label>Cantidad (Max) Pasajeros</mat-label>
                            <input matInput placeholder="5" type="number" min="1"
                                   formControlName="cantidadMaximaPasajeros">
                            <mat-icon matSuffix>supervisor_account</mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <mat-form-field class="w-100">
                            <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                          <button mat-raised-button color="primary" type="submit">
                            Crear
                            <mat-icon>send</mat-icon>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</main>
<fly-footer></fly-footer>
<router-outlet></router-outlet>

