<fly-sidenav></fly-sidenav>
<main>
    <mat-horizontal-stepper [linear]="isLinear">
    <mat-step label="Vuelos">
      <button mat-button matStepperNext color="primary">Siguiente</button>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="flights$ | async" class="w-100 align-items-center text-center">
          <ng-container matColumnDef="fechaSalida">
            <th mat-header-cell *matHeaderCellDef class="text-center">Fecha Salida</th>
            <td mat-cell *matCellDef="let flight"> {{flight.fechaSalida}} </td>
          </ng-container>

          <ng-container matColumnDef="ciudadOrigen">
            <th mat-header-cell *matHeaderCellDef class="text-center">Ciudad Origen</th>
            <td mat-cell *matCellDef="let flight"> {{flight.ciudadOrigen}} </td>
          </ng-container>

          <ng-container matColumnDef="ciudadDestino">
            <th mat-header-cell *matHeaderCellDef class="text-center">Ciudad Destino</th>
            <td mat-cell *matCellDef="let flight"> {{flight.ciudadDestino}} </td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef class="text-center">Descripcion</th>
            <td mat-cell *matCellDef="let flight"> {{flight.descripcion}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="text-center">Editar</th>
            <td mat-cell *matCellDef="let flight">
              <mat-icon class="cursor-pointer" color="primary" (click)="showEditFlight(flight.id)">edit</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-step>
    <mat-step label="Crear Vuelo">
      <div class="container">
        <button mat-button matStepperPrevious>Atrás</button>
        <div class="row">
          <div class="col-12">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Crear Vuelo</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="container">
                  <form [formGroup]="flightForm" (submit)="registerFlight(flightForm)">
                    <div class="row">
                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                          <input matInput [matDatepicker]="picker" placeholder="Fecha Salida"
                                 formControlName="fechaSalida" (dateChange)="assignDateToControl()">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Ciudad Origen</mat-label>
                          <input matInput placeholder="Cali" type="text" formControlName="ciudadOrigen">
                          <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                      </div>

                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Ciudad Destino</mat-label>
                          <input matInput placeholder="Medellin" type="text" formControlName="ciudadDestino">
                          <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                          <textarea matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <button mat-raised-button color="primary" type="submit">
                          Crear
                          <mat-icon>send</mat-icon>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</main>
<fly-footer></fly-footer>
<router-outlet></router-outlet>
